<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Papper Scissor</title>
    <script src="https://kit.fontawesome.com/b08614ab99.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Rock Papper Scissor</h1>
    <div>
        <a href="{{url_for('pathu',choice = 'Rock')}}"><button><i class="fa-regular fa-hand-back-fist"></i></button></a>
        <a href="{{url_for('pathu',choice = 'Papper')}}"><button><i class="fa-regular fa-hand"></i></button></a>
        <a href="{{url_for('pathu',choice = 'Scissor')}}"><button><i class="fa-regular fa-hand-scissors"></i></button></a>
    </div>
</body>
</html>